<p-toast/>

<p-menubar [model]="items">
    
    <ng-template #start>
        <img src="logo.jpg" alt="" class="w-12">
    </ng-template>

    <ng-template #end>
        <p-button (click)="show()" label="Inscribirse" />

        <p-dialog header="Inscribete en la carrera." [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
            <span class="p-text-secondary block mb-8"></span>
            <p-floatlabel variant="on" class="border border-gray-400 border-solid rounded-md mb-4">
                <input pInputText id="on_label" [(ngModel)]="nombre" autocomplete="off" class="w-full py-2 focus:outline-0" />
                <label for="on_label">Nombre</label>
            </p-floatlabel>
            
            <p-floatlabel variant="on" class="border border-gray-400 border-solid rounded-md mb-4">
                <input pInputText id="on_label" [(ngModel)]="apellido" autocomplete="off" class="w-full py-2 focus:outline-0" />
                <label for="on_label">apellido</label>
            </p-floatlabel>
            
            <p-floatlabel variant="on" class="border border-gray-400 border-solid rounded-md mb-4">
                <input pInputText id="on_label" [(ngModel)]="tallaCamiseta" autocomplete="off" class="w-full py-2 focus:outline-0" />
                <label for="on_label">Talla de Camiseta</label>
            </p-floatlabel>
            
            <p-floatlabel variant="on" class="border border-gray-400 border-solid rounded-md mb-4">
                <input pInputText id="on_label" [(ngModel)]="dni" autocomplete="off" class="w-full py-2 focus:outline-0" />
                <label for="on_label">DNI</label>
            </p-floatlabel>
            
            <p-floatlabel variant="on" class="border border-gray-400 border-solid rounded-md mb-4">
                <input pInputText id="on_label" [(ngModel)]="phone" autocomplete="off" class="w-full py-2 focus:outline-0" />
                <label for="on_label">Telefono</label>
            </p-floatlabel>
            
            <div class="flex justify-end gap-2">
                <p-button label="Cancelar" severity="secondary" (click)="visible = false" />
                <p-button pRipple (click)="showSuccess()" label="Inscribirse" (click)="visible = false" />
            </div>
        </p-dialog>
    </ng-template>


</p-menubar>